MYSQL_ROOT_PASSWORD=changeme
MYSQL_DATABASE=makeathon
MYSQL_USER=makeathon
MYSQL_PASSWORD=changeme
MYSQL_PORT=3306
JWT_SECRET=replace-with-at-least-32-characters
JWT_EXPIRATION_HOURS=24
AI_PROVIDER=mock
AI_FASTAPI_BASE_URL=http://localhost:8000
JPA_DDL_AUTO=update
